#titulo_gerencia{
    height: 10%;
    width: 80%;
    top: 15%;
    left: 12%;
    font-size: 300%;
}

#sub_bloque_gerencia{
    position:absolute ;
    height:55%;
    width:80%;
    background-color:#e5c499 ;
    border-radius: 30px;
    top:24%;
    left:10%;
}

#barra_ordenes{
    background-color: #caa36f;
    width:70%;
    left:15%;
    top:30%;
}

#contenido_ordenes{
    left:18%;
    top:31%;

}

#barra_completadas{
    background-color: #caa36f;
    width:70%;
    left:15%;
    top:40%;
}

#contenido_completadas{
    left:18%;
    top:41%;
}

#barra_no_completadas{
    background-color: #caa36f;
    width:70%;
    left:15%;
    top:50%;
}

#contenido_no_completadas{
    left:18%;
    top:51%;
}

.menu_desplegable{
    position: absolute;
    width: 20%;
    height: 4%;
    left:40%;
    top:31%;
    background-color: #e5c499;
    border-radius: 30px;
}

#ordenes_mes{

}

#ordenes_semana{
    
}

#completadas_mes{
    
}

#completadas_semana{
    
}

#no_completadas_mes{
    
}

#no_completadas_semana{
    
}