#bloque_crear{
    position: absolute;
    background-color: #caa36f;
    height: 80%;
    width: 30%;
    top: 10%;
    left: 30%;
    border-radius: 30px;
    font-family:'open sans';
}

#titulo_crear{
    position: absolute;
    height: 10%;
    width: 80%;
    top: 7%;
    left: 20%;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #79572c;
}

#crear_titulo_nombre{
    top: 23%;
}

#crear_barra_nombre{
    top: 27%;
}

#crear_titulo_apellidos{
    top: 36%;
}

#crear_barra_apellidos{
    top: 40%;
}

#crear_titulo_correo{
    top: 49%;
}

#crear_barra_correo{
    top: 53%;
}

#crear_titulo_direccion{
    top: 63%;
}

#crear_barra_direccion{
    top: 67%;
}

#crear_titulo_contrasena{
    top: 76%;
}

#crear_barra_contrasena{
    top: 80%;
}



#boton_crear{
    top: 90%;
    left: 40%;
    width: 15%;
    height: 3%;
}