body{
    background-color: #DDBE96;
    margin: auto;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

header{
    background-color: #004d29;
    position: relative;
    display: flex;
    height: 70px;
    width: 100%;
}

#container{
    position: relative;
    height: 100%;
    width: 100%;
}

#logo{
    position: absolute;
    width: 250px;
    height: 50px;
    top: 10px;
    left: 100px;
    
}

#barra_busqueda{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #DDBE96;
    top:17px;
    left: 400px;
    border-radius: 30px;
}

#contenido_barra_busqueda{
    position: absolute;
    left:3%;
    top:20%;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace ;
}

#crear_cuenta{
    position: absolute;
    width: 6%;
    height: 80%;
    left: 77%;
    top:20%;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#iniciar_sesion{
    position: absolute;
    width: 4%;
    height: 80%;
    left: 85%;
    top:20%;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

#carrito{
    position: absolute;
    width: 3%;
    height: 45%;
    left: 85%;
    top:10%
}

#carrito_img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 250%;
    top: 25%;
}

#ico_cantidad_productos_carro{
    position: absolute;
    background-color:#DDBE96 ;
    width: 40%;
    height: 50%;
    border-radius: 50%;
    top:100%;
    left:320%
    
}

#contenido_bola{
    position: absolute;
    left: 30%;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    width: 100%;
    height: 91%; 

}

#barra_categorias{
    position: absolute;
    width: 10%;
    height: 4%;
    left:7%;
    top:10%;
    background-color: #b97c2c;
    border-radius: 30px;

}
#texto_titulo_categorias{
    position: absolute;
    width:100% ;
    height:100% ;
    left:7%;
    font-size: larger;
    top: 13%;
    font-family: 'Courier New', Courier, monospace;
}

#flecha_menu_desplegable{
    position: absolute;
    width: 0%;
    height: 0%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 18px solid rgb(214, 175, 103);
    left: 75%;
    top:30%;

}

#fondo_banner{
    position: absolute;
    width: 90%;
    height: 30%;
    left:5%;
    top:10%;
}

#contenido_banner{
    position: absolute;
    left:30%;
    top:23%;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    height: 10%;
    font-size: xx-large;
    color: rgb(255, 227, 133);
    font-weight: bolder;

}

#titulo_ofertas{
    position: absolute;
    height: 5%;
    width: 20%;
    left: 40%;
    top: 43%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(23, 139, 101);
}

#ofertas{
    position: absolute;
    height: 25%;
    width: 90%;
    background-color: #b97c2c;
    top: 50%;
    left: 5%;

}

.productos{
    position: absolute;
    top:10%;
    height: 20%;
    width: 18%;
    background-color: #000000;
    display: none;
}

footer{
    background-color: #004d29;
    width: 100%;
    height: 35%;
    position: absolute;
    top: 100%;
}

.bloques_footer{
    position: absolute;
    width: 20%;
    height: 70%;
    display: inline-block;
    top:10%;
    font-family: 'Courier New', Courier, monospace ;
    color:#bc8741;
    text-align: center;

}

.bloques_footer >p{
    color: gray;
}
#targeta_footer{
    left: 10%;
}

#caja_footer{
    left: 40%;
}

#escudo_footer{
    left: 70%;
}